.speech-bubble {
    position: relative;
    background-image: url(images/citation.jpg);
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 31px solid transparent;
    border-top-color: #f2f2f2 ;
    border-bottom: 0;
    border-left: 0;
    margin-left: 50px;
    margin-bottom: -31px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    padding-bottom: 2rem;
    letter-spacing: -0.6rem;
    color: white;
}

h5 {

}

.header {
    background-image: url(images/header.png);
    padding: 2rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
}

#navbarSupportedContent {
    background-color: #65b7e9;
    color: white;
}

.navbar {
    padding: 0;
}

.img-header {
    margin-top: 2rem;
    /* padding: 1rem; */
    background-color: white;
}

header li {
    padding:0 2rem;
}



@keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}

 body {
    background: linear-gradient(211deg, #ffb600, #ff7e00, #ff5100, #b9430c);
    background-size: 800% 800%;
    animation: AnimationName 80s ease infinite;
    font-family : Arial, sans-serif
}


.container , .card {
    background-image: url(images/fond.png);
} 

.btn {
    background: linear-gradient(211deg, #ffb600, #ff7e00, #ff5100, #b9430c);
    background-size: 800% 800%;
    animation: AnimationName 40s ease infinite;
    border: none;
    margin-bottom: 2rem;
}

.lastpart .btn {
margin-top: 2rem;
}

.media {
    background-image: url(images/fond-article.png);
    padding: 1rem;
    font-size: 12px;
}

.shittyimg {
    margin: 0 2rem 0 0;
    padding-top: 0;
}

.card-body:not(.shittyimg) {
    padding: 0 0 1.5rem 0;
}


.firstpart , .secondpart , footer {
    padding: 2rem  ;
}


.card {
    border:none;
}

.lastpart h3:nth-child(1){
    margin-bottom: 2rem;
}

.lastpart {
    padding: 2rem;
}

.thirdpart li {
    list-style-image: url(images/fleche.png);
    line-height: 2rem;
}

footer {
    background-image: url(images/footer.png);
}


@media screen and ( min-width : 768px) and ( max-width : 1023px) {
    .bubble {
        margin-bottom: 3rem;
    }

    .imgsiege {
        margin: 2rem 0;
    }

    .lastpart h3:nth-child(1){
        margin-top: 0;
    }

    .navbar {
        margin-left: -1.2rem;
    }
}

@media screen and ( max-width : 767px) {

    .navbar-toggler {
        
        margin: auto;
    }
    .navbar-toggler-icon {
        font-size: 2rem;
    color: white;
    }

    .imgsiege {
        margin: 2rem 0;
    }

    .lastpart h3:nth-child(1){
        margin-top: 2rem;
    }

    footer {
        padding: 1rem;
    }
}